<div class="greenulator">
   <div class="section">
      
        <div class="buttons">
            
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('7','mouse')">7</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('8','mouse')">8</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('9','mouse')">9</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('4','mouse')">4</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('5','mouse')">5</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('6','mouse')">6</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('1','mouse')">1</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('2','mouse')">2</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('3','mouse')">3</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('0','mouse')">0</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('.','mouse')">.</button>
            <button href="javascript:;" class="btn" ng-mousedown="vm.set('C','mouse')">C</button>
           
        </div>
    </div>